.page-login{
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    .logo-login{
        height:17em;
        margin-bottom: 3em;
    }
    
    section{
        background-color: #F9F3E7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: rose-regular;
        animation: fadein 0.5s;
        width: 100%;
        height: 100vh;
    }
    
    .button-return {
        font-family: rose-bold;
        background-color:#AEE239;
        color:#fff;
        padding: 5px 30px;
        border-radius: 2em;
        text-decoration: none;
        margin: 2em;
        transition: transform .2s;
           
    }
    
    .button-return:hover{
        transform: scale(1.1) 
    }
    
    .login-psicologo
    {
        display: flex;
        flex-direction: column;
        
    
    }
    
    .login-psicologo > input{
        margin:1.1em;
        border:none;
        outline: none;
        padding: 1em;
        height: 3em;
        width: 30em;
        font-size: 14px;
        border-radius: 0.5em;
        padding: 5px;
    }
    
    .login-psicologo label{
        color: #2E939C;
        margin-left: 1.5em;
    }
    
    
    
    .login-psicologo a{
        text-align: center;
        cursor: pointer;
        font-family: rose-regular;
        font-size: 1.1em;
        background-color: #2F5457;
        color: #fff;
        border:none;
        padding: 13px;
        border-radius: 2em;
        width: 7em;
        align-self: center;
        transition: transform .2s;
        text-decoration: none;
    }
    
    .button-submit:hover{
        transform: scale(1.1) 
    }
}