.page-notes{
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 0.5s;
}

.menu{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
}

.info{
    background-color: #F9F2E7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.branquin{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3em 0em 3em 0em;
    width: 88%;
    padding: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'rose-regular';
}

.text p {
    margin:10px;
}

.anotacoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    font-family: 'rose-regular';
}
.button{
    width: 90%;
    margin: 2em 0em 2.5em 0em;
    
}
.anotacoes > *{
    margin: 1em 0em 1em 0em;
}
textarea{
    border: 0.8em solid #C5DBDE;
    border-radius: 20px;
    font-family: 'rose-regular';
    font-size: 17px;
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    font-family: 'rose-regular';
}
a{
    background-color: #AEE239;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    font-family: 'rose-regular';
}
}